:host {
  margin: -2.25rem -2.25rem -0.75rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

#dropzone {
  width:100%;
  background-repeat: repeat;
}

.item-on-board {
  width:100px !important;
  border:1px solid green;
}
