<nb-actions size="small">
  <nb-action icon="power-outline" badgeDot badgePosition="bottom right" badgeStatus="success" nbTooltip="Beenden"
    nbTooltipStatus="primary"></nb-action>
  <nb-action icon="people-outline" badgeText="9" badgePosition="top right" badgeStatus="info"
    nbTooltip="Aktuell 9 Teilnehmer" nbTooltipStatus="primary"></nb-action>
  <nb-action icon="tv-outline" badgeDot badgePosition="bottom right" badgeStatus="success"
    nbTooltip="Bedienung über Tablet aktiv" nbTooltipStatus="primary"></nb-action>
  <nb-action icon="monitor-outline" nbTooltip="Externer Monitor inaktiv" nbTooltipStatus="primary"></nb-action>
  <nb-action nbTooltip="Suchen" nbTooltipStatus="primary">
    <nb-search type="rotate-layout"></nb-search>
  </nb-action>
  <nb-action icon="arrowhead-left-outline"></nb-action>
  <nb-action icon="arrowhead-right-outline"></nb-action>
  <nb-action id="time-as-string">
    {{timeAsString}}
  </nb-action>
  <nb-action icon="volume-up-outline" badgeDot badgePosition="bottom right" badgeStatus="success" nbTooltip="Ton an"
    nbTooltipStatus="primary"></nb-action>
  <nb-action icon="video-off-outline" badgeDot badgePosition="bottom right" badgeStatus="error" nbTooltip="Kamera aus"
    nbTooltipStatus="primary"></nb-action>

</nb-actions>
