:host {
}

nb-actions {
  height: 60px;
  padding: 0px;
}

nb-action {
  height: 60px;
  padding: 0px;
}

.item {
  margin: 5px;
  max-height: 40px;
}

.item img {
  max-height: 40px;
}

.item-on-board {
  max-height:100px !important;
}

.car {
  z-index: 1003;
}

.street {
  z-index: 1000;
}

.sign {
  z-index: 1002;
}