<nb-actions size="small">
  <nb-action>
    <img appDraggable src="/assets/objects/streets/Kreuzung.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/streets/Links.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/streets/Rechts.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/streets/Straße.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/streets/T-Kreuzung.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/streets/Zebra.png" class="item drag-drop street">
    <img appDraggable src="/assets/objects/cars/YD_Auto-blau001.png" class="item drag-drop car">
    <img appDraggable src="/assets/objects/cars/YD_Auto-gelb002.png" class="item drag-drop car">
    <img appDraggable src="/assets/objects/cars/YD_Auto-rot005.png" class="item drag-drop car">
    <img appDraggable src="/assets/objects/cars/YD_Auto-weiss006.png" class="item drag-drop car">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-001.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-002.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-007.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-008.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-009.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-010.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-011.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-012.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-013.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-014.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-015.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-016.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-017.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-018.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-019.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-020.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-021.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-022.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-023.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-024.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-025.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-026.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-027.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-028.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-029.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-030.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-031.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-032.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-033.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-034.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-035.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-036.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-037.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-038.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-038.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-040.png" class="item drag-drop sign">
    <img appDraggable src="/assets/objects/signs/YD_Verkehrszeichen-041.png" class="item drag-drop sign">
  </nb-action>
</nb-actions>
